################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BerlinClock/v15
/.vs
/bin/Debug
/obj
/packages
